/*.w3-badge {*/
/*    background: blue;*/
/*    height: 18px;*/
/*    width: 18px;*/
/*    padding: .2em;*/
/*    border-radius: 50%;*/
/*}*/

* {
    box-sizing: border-box;
}

body {
    /*background: #f0f0f0;*/
    background: #e7e7e7;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Abel;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Anton;
}

.logo-banner {
    width:100%;
    height: 3.7em;
    display: flex;
    align-items: center;
    background: #ffffff;
    margin-top: 2em;
}

.badge {
    border-radius: 50%;
    height: 18px;
    width: 18px;
    color:black;
}

.logo {
    position: relative;
    left: calc(50% - 52.5px);
}

p {
    margin-top: .5em;
    margin-bottom: 0;
    font-size: 2.5em;
}


ul .nav-link{
    color: black;
    padding: .5em;

}

div .row ul .badge {
    border-radius: 50%;
    height: 105px;
    width: 105px;
    color:black;
    border: white 5px solid;
}

h5 {
    color: white;
}

div .row li {
    margin: .01em 1em;

}
div .row ul{
    margin-bottom:.1em;
    margin-top:.3em;

}

.ipad {
    /*margin-left: auto;*/
    margin-top: 2em;
    border: 10px solid #ddddde;
    border-radius: 10px;
    width: 400px;
    /*height: auto;*/
}

.selected-work {
    font-size: 16px;
}

.showcase {
    font-size: 16px;
}
